OAUTH_COGNITO_CLIENT_ID="<FROM_AWS>"
OAUTH_COGNITO_CLIENT_SECRET="<FROM_AWS>"

# no http:// prefix, directly us-east...
OAUTH_COGNITO_DOMAIN="<FROM_AWS>" 
OAUTH_COGNITO_SCOPES="<SPACE_SEP_FROM_AWS>"
CHAINLIT_AUTH_SECRET="<GENERATE BY CHAINLIT>"
OAUTH_PROMPT=<CHOOSE FROM OPTIONS IN CHAINLIT DOCS>
