# for printing full stack trace in case of error
HYDRA_FULL_ERROR=1

# for obtaining the openclip FashionSigLIP model from huggingface
HF_TOKEN=<non_mandatory_huggingface_token>

# for langsmith observability
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=<project_name>
LANGSMITH_API_KEY=<langsimth_api_key>
LANGSMITH_ENDPOINT=<langsmith_endpoint_eu_or_usa>

# for allowing invoking models by Google
GOOGLE_API_KEY=<some_google_api_key>

# for invoking models by Mistral (who have a very generous free tier, but with rate limits)
MISTRAL_API_KEY=<some_mistral_api_key>

# for postgres (as checkpointer) setup
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<postgres_password>
POSTGRES_DB=<postgres_db>

# for local use of dynamo db
DYNAMODB_ENDPOINT_URL=http://localhost:8000
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_DEFAULT_REGION=us-east-1
APP_ENV=development

# production setup for dynamo db
# AWS_DEFAULT_REGION=us-east-1
# APP_ENV=production
# AWS credentials should come from IAM roles, not hardcoded here

